h1 {
  text-align: center;
}

.player-icon {
  text-align: center;
  font-size: 5em;
}

.score-container {
  text-align: center;
  background-color: #222;
  font-size: 4em;
  margin-bottom: 20px;
}

.card-title {
  text-align: center;
}

.roll-control {
  width: 75px;
}

.button-area {
  text-align: center;
}

.center-align {
  text-align: center;
}

.hide {
  display: none;
}

#roll-button {
  margin-right: 10px
}

#hold-button {
  margin-left: 10px
}

.player1-text {
  color: #E74C3C
}

.player2-text {
  color: #3498DB
}

.player1-active {
  border: 4px solid #E74C3C;
  border-radius: .25rem;
  background-clip: border-box;
}

.player1-active .card-header:first-child {
  border-radius: 0rem;
}

.player2-active {
  border: 4px solid #3498DB;
  border-radius: .25rem;
  background-clip: border-box;
}

.player2-active .card-header:first-child {
  border-radius: 0rem;
}